@charset "ISO-8859-1";

blockquote{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;

	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

div.container *{
	word-wrap: break-word;
}


div.container h2{
	padding-bottom: 0;
	margin-bottom: 0;
}

div.container span.time{
	font-size: small;
}